
/* Change all box sizing to border box */
* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* Add flex box to the entire body */
    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
    
    display: grid;

    grid-template-columns: 1fr 4fr;

    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.header{
    grid-area: header;

    display: grid;

    grid-template-columns: 3fr 2fr;

    grid-template-areas: 
    "search buttons1"
    "user-info buttons2";
}

.header>.search{
    grid-area: search;

    display:flex;
}

.search>input{
    border-radius: 1em;
    flex: 1;
    background-color: gray;
    border: 2px solid black;
}

.header>.buttons1{
    grid-area: buttons1;
}

.header>.user-info{
    grid-area: user-info;
}

.header>.buttons2{
    grid-area: buttons2;
}


.sidebar{
    grid-area: sidebar;

    display: flex;

    flex-direction: column;
}

.main{
    grid-area: main;

    display: grid;

    grid-template-columns: 3fr 1fr;

    grid-template-areas: "projects announcements";
    
    gap: 15px;
}


.projects{
    grid-area: projects;
    padding: 15px;
    background-color: gray;
}

.projects > .grid{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 15px;
}

.project{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.announcements{
    grid-area: announcements;
}
