
    /* Change all box sizing to border box */
    * {
        box-sizing: border-box;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

        /* Add flex box to the entire body */
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: min(2Vw, 4Vh);
    }

    .container{
        flex: 1;
        
        display: grid;

        grid-template-columns: 1fr 4fr;

        grid-template-areas: 
        "sidebar header"
        "sidebar main";
    }

    .header{
        grid-area: header;

        display: grid;
        gap: 20px;

        grid-template-columns: 3fr 2fr;

        grid-template-areas: 
        "search buttons1"
        "user-info buttons2";
    }

    .header>.search{
        grid-area: search;

        display:flex;
    }

    .search label{
        flex: 0 1 5%;
        display: flex;
        justify-content: center;
    }

    .search img{
        width: 75%;

        
    }

    .search>input{
        border-radius: 1em;
        flex: 1;
        background-color: lightgray;
        border: 2px solid black;
    }

    .search>input::placeholder{
        color: rgb(45, 45, 45);
    }


    .header>.buttons1{
        grid-area: buttons1;
    }

    .header>.user-info{
        grid-area: user-info;
    }

    .header>.buttons2{
        grid-area: buttons2;

        display: grid;

        /* Fit all the buttons on one line */
        grid-template-columns: repeat(auto-fit, minmax(2px,1fr));

        justify-items: center;
    }

    .buttons2 > button{
        width: 5Vw;

        padding: 0.5Vw;

        background-color: lightgray;

        border: 2px solid black;

        border-radius: 5Vw;

        font-size: 0.9Vw;

        
    }

    .buttons2 > button:hover{
        cursor: pointer;

        background-color: black;

        color: white;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 50, 0.2);


    }

    .sidebar{
        grid-area: sidebar;

        display: flex;

        flex-direction: column;
    }

    .main{
        grid-area: main;

        display: grid;

        grid-template-columns: 3fr 1fr;

        grid-template-areas: "projects announcements";
        
        gap: 15px;
    }


    .projects{
        grid-area: projects;
        padding: 15px;
        background-color: gray;
    }

    .projects > .grid{
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        gap: 15px;
    }

    .project{
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
        background-color: white;
    }
    .announcements{
        grid-area: announcements;
    }
