/* Change all box sizing to border box */
* {
    box-sizing: border-box;
}

/* CSS variables */
:root {
    --primary-colour: rgb(10, 10, 50);
    --secondary-colour: lightgray;
    --third-colour: #00afe0;
    --text-colour: black;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* Remove whitespace */
    margin: 0;
    display: grid;

    grid-template-columns: 1fr 4fr;

    grid-template-areas:
        "sidebar header"
        "sidebar main";

}

h1 {
    font-size: min(2Vw, 4Vh);
}

h2 {
    font-size: 1.3Vw;

}

h3 {
    font-size: 1.1Vw;

}


p {
    font-size: 1Vw;
}

.header {
    width: 100%;

    grid-area: header;

    display: grid;
    gap: 20px;
    padding: 16px;

    grid-template-columns: 3fr 2fr;

    grid-template-areas:
        "search notification"
        "user-info buttons";

    align-items: center;

    color: var(--text-colour);

}


.header>.search {
    grid-area: search;

    display: flex;
}


.search label {
    flex: 0 1 5%;
    display: flex;
    justify-content: center;
}

.search img {
    width: 75%;


}

.search>input {
    border-radius: 1em;
    flex: 1;
    background-color: var(--secondary-colour);
    border: 2px solid var(--primary-colour);
    font-size: 1Vw;
}

.search>input::placeholder {

    font-size: 1Vw;
    color: rgb(45, 45, 45);
}


.header>.notification {
    grid-area: notification;

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: right;

    margin: 0px 24px;


}

.notification .bell {
    width: 10%;

    margin-right: 16px;
}

.notification .bell img {
    width: 100%;
    height: auto;
}

.notification .avatar {

    width: 12%;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);

    padding: 0.5Vw;

    border-radius: 100%;

    margin-right: 16px;
}

.header>.user-info {
    grid-area: user-info;

    display: flex;

    flex-direction: row;

    justify-content: start;


}

.user-info .avatar {

    width: 20%;
    background-color: var(--primary-colour);
    border: 2px solid var(--secondary-colour);

    padding: 1Vw;

    border-radius: 10Vw;

    margin-right: 16px;
}

.avatar img {
    width: 100%;
    height: auto;
}

.header>.buttons {
    grid-area: buttons;

    display: grid;

    /* Fit all the buttons on one line */
    grid-template-columns: repeat(auto-fit, minmax(2px, 1fr));

    justify-items: center;

}

.buttons>button {
    width: 5Vw;

    height: 2.25Vw;

    padding: 0.5Vw;

    background-color: var(--primary-colour);

    color: var(--secondary-colour);

    border-radius: 5Vw;

    font-size: 0.9Vw;


}

.buttons>button:hover {
    cursor: pointer;

    background-color: var(--secondary-colour);

    color: var(--primary-colour);

    border: 2px solid var(--primary-colour);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 50, 0.2);

}

.sidebar {
    grid-area: sidebar;

    

    background-color: var(--primary-colour);

    color: var(--secondary-colour);

    
}

.sidebar .container{
    padding: 16px;

    display: flex;

    flex-direction: column;

    position:sticky;
    top:0;
}

/* .sidebar h1{
    transition: all .2s ease-in-out;
}

.sidebar h1:hover{
    cursor: pointer;

    transform: scale(1.05);

    text-shadow: 2px 0 10px var(--third-colour);
} */

.sidebar .item {
    display: flex;

    align-items: center;

    transition: all .2s ease-in-out;
}

.sidebar .item:hover {
    cursor: pointer;

    transform: scale(1.05);

    text-shadow: 2px 0 10px var(--third-colour);

}

.sidebar .item img{
    fill: var(--third-colour);
}


.sidebar img {
    width: 10%;
}

.sidebar h2 {
    margin-left: 16px;
}

.main {
    width: 100%;
    grid-area: main;

    display: grid;

    grid-template-columns: 3fr 1fr;

    grid-template-areas: "projects announcements";

    gap: 15px;

    background-color: lightgray;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 50, 0.2);
}


.projects {
    grid-area: projects;
    padding: 15px;

}

.projects>.content {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 15px;
}

.project {
    border: 2px solid var(--primary-colour);
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 50, 0.2);

    transition: all .2s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project h2 {
    text-align: center;
}

.project a:link {
    text-decoration: none;
    color: var(--text-colour);

}

.project a:visited {
    text-decoration: none;
    color: var(--text-colour);
}

.project img {
    width: 100%;
    height: auto;
    text-align: center;
    transition: all .2s ease-in-out;
}

.project img:hover {
    transform: scale(1.05);
}


.announcements {
    grid-area: announcements;

    padding: 15px;

}

.announcements>.content {
    border: 2px solid var(--primary-colour);
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 50, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

}


.line {
    text-align: center;
}

.announcements img {
    width: 85%;
    align-self: center;
}